## Regression on Boston Housing Dataset

**En este cuaderno, realizamos un estudio comparativo de la precisión de la regresión lineal multiple en el conjunto de datos de viviendas de Boston**

En este cuaderno, realizamos un estudio comparativo de la precisión de la regresión lineal y la regresión polinomial en el conjunto de datos de viviendas de Boston **

Estos datos originalmente formaban parte del Repositorio de aprendizaje automático de UCI y ahora se han eliminado. Estos datos también se envían con la biblioteca scikit-learn.
Hay 506 muestras y 13 variables de características en este conjunto de datos. El objetivo es predecir el valor de los precios de la casa utilizando las características dadas.

La descripción de todas las varuables se da a continuación:

**CRIM**: Tasa de delincuencia per cápita por ciudad

**ZN**: Proporción de terreno residencial dividido en zonas para lotes de más de 25,000 pies cuadrados

**INDUS**: Proporción de acres comerciales no minoristas por ciudad

**CHAS**: Variable ficticia de Charles River (= 1 si el tramo limita con el río; 0 en caso contrario)

**NOX**: concentración de óxido nítrico (partes por 10 millones)

**RM**: Número medio de habitaciones por vivienda

**EDAD**: Proporción de unidades ocupadas por el propietario construidas antes de 1940

**DIS**: distancias ponderadas a cinco centros de empleo de Boston

**RAD**: Índice de accesibilidad a carreteras radiales

**IMPUESTO**: Tasa de impuesto a la propiedad de valor total por $ 10,000

**B**: 1000 (Bk - 0.63) ², donde Bk es la proporción de [personas de ascendencia afroamericana] por ciudad

**LSTAT**: Porcentaje de menor estatus de la población

**MEDV**: Valor medio de las viviendas ocupadas por sus propietarios en $ 1000

### Realiza un estudio comparativo de los modelos de regresión lineal simple y regresión lineal múltiple (aplicando métodos de selección de variables).

Importamos las librerías

In [4]:
import numpy as np
import matplotlib.pyplot as plt 
import pandas as pd  
import seaborn as sns 

%matplotlib inline

Cargamos el dataset

In [8]:
# Load Boston housing dataset from external source
boston = pd.read_csv("../data/BostonHousing.csv")

# Display the first few rows of the dataset
print("Boston Housing Dataset:")
print(boston.head())

Boston Housing Dataset:
      CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD  TAX  PTRATIO  \
0  0.00632  18.0   2.31     0  0.538  6.575  65.2  4.0900    1  296     15.3
1  0.02731   0.0   7.07     0  0.469  6.421  78.9  4.9671    2  242     17.8
2  0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2  242     17.8
3  0.03237   0.0   2.18     0  0.458  6.998  45.8  6.0622    3  222     18.7
4  0.06905   0.0   2.18     0  0.458  7.147  54.2  6.0622    3  222     18.7

        B  LSTAT  MEDV
0  396.90   4.98  24.0
1  396.90   9.14  21.6
2  392.83   4.03  34.7
3  394.63   2.94  33.4
4  396.90   5.33  36.2

In [6]:
# Display the dataset info
print(f"Dataset shape: {boston.shape}")
print("Columns:", boston.columns.tolist())
boston.head()

Dataset shape: (506, 14)
Columns: ['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax', 'ptratio', 'b', 'lstat', 'medv']

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2